@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: 8px;  /* Firefox */
}


::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #e0dada;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box; 

}
::-webkit-scrollbar-thumb:hover {
  background: #647c7c;
   
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


